<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/material-design/material-icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/index_style.css}" media="screen,projection"/>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Подтверждение регистрации</title>
</head>
<body>

    <div class = "intro blue-grey darken-1 z-depth-1">

        <h4 class = "grey-text text-lighten-3">Спасибо вам за то, что вы зашли на данный сервис!</h4>
        <h5 class = "grey-text text-lighten-3">
            Для подтверждения регистрации перейдите по ссылке, отправленной на вашу почту, указанную при регистрации.
        </h5>

    </div>

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/materialize.min.js}"></script>

</body>
</html>