<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/css/material-design/material-icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/profile_style.css}" media="screen,projection"/>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Профиль</title>

</head>

<body>

<div th:replace="common/header :: service-header">

    <nav class="nav-color">

        <div class="nav-wrapper">

            <a href="#" class="brand-logo left">Perp</a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a th:href="@{/index}">Главная страница</a></li>
                <li><a href="#">Каталог товаров</a></li>

            </ul>

        </div>

    </nav>

</div>

<div class = "row">

    <div class = "col s12 m6 l4">

        <button class="waves-effect waves-light btn modal-trigger" data-target="modal3">Добавить товар
            <i class = "material-icons right">add</i>
        </button>

        <div id = "modal3" class = "modal">

            <form class = "col s12" th:action="@{/user/profile}" method="POST">

                <div class = "modal-content">

                    <h4 class = "black-text text-lighten-3 center-align">Добавление товара</h4>

                    <div class = "row">

                        <input type = "hidden" name = "product_action" value = "add_product"/>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">label</i>
                                <input id="title" type="text" class="validate" name = "title"/>
                                <label for="title"  class = "active">Название: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">monetization_on</i>
                                <input id="price" type="text" class="validate" name = "price"/>
                                <label for="price" class = "active">Цена: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">insert_comment</i>
                                <input id="description" type="text" class="validate" name = "description"/>
                                <label for="description" class = "active">Описание: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">insert_link</i>
                                <input id="link" type="text" class="validate" name = "photoLink"/>
                                <label for="link" class = "active">Ссылка на фото: </label>

                            </div>

                        </div>

                    </div>

                </div>

                <div class = "modal-footer">

                    <button class=" modal-action modal-close waves-effect waves-green btn-flat" type = "submit">
                        Добавить
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

<div class="row">

    <div class = "col s12 m6 l3">

        <a class = "waves-effect waves-light btn" th:href="@{/logout}">
            <i class = "material-icons right">directions_run</i>
            Выйти
        </a>

    </div>

    <div class = "col s12 m6 l3">

        <a class = "waves-effect waves-light btn" th:href="@{/get_photo/{path}(path=${photo})}">
            <i class = "material-icons right">chevron_right</i>
            Просмотреть фото
        </a>

    </div>

    <div class="col s12 m6 l3">

        <button class="waves-effect waves-light btn modal-trigger" data-target="modal1"
                th:text="'Заказов: ' + ${reservationCount eq null ? '0' : reservationCount}">
            <i class="material-icons right">assignment</i>
        </button>

        <div id="modal1" class="modal">

            <div class="modal-content">

                <h4 class="black-text text-lighten-3 center-align"
                    th:text="'Потраченных денег на заказы: ' +
                    ${spendedMoneyOnReservations eq null ? '0' : spendedMoneyOnReservations} + ' Р'"></h4>

                <ul class="collapsible popout" data-collapsible="accordion">

                    <li th:if = "${reservations != null}" th:each="reservationInfo : ${reservations}">

                        <div class="collapsible-header" th:text="'Заказ № ' + ${reservationInfo.reservation.id}">
                            <i class="material-icons">assignment</i>
                        </div>

                        <div class="collapsible-body">

                            <p th:text="'Статус заказа: ' + ${reservationInfo.reservation.getReservationState().toString()}">
                            </p>

                            <p th:text="'Дата создания заказа: ' + ${reservationInfo.prettyReservationDate}">
                            </p>

                            <p th:each="product : ${reservationInfo.products}">

                                <span th:text="${product.title}">
                                </span> :
                                <span th:text="'Цена - ' + ${product.price} +
                                ' Р, количество: ' + ${reservationInfo.getProductsCount().get(product)}">
                                </span>

                            </p>

                            <p th:text="'Цена заказа: ' + ${reservationInfo.price} + ' Р'">
                            </p>

                        </div>

                    </li>

                </ul>

            </div>

            <div class="modal-footer">

                <button class=" modal-action modal-close waves-effect waves-green btn-flat">
                    Закрыть
                </button>

            </div>

        </div>

    </div>

    <div class="col s12 m6 l3">

        <button class="waves-effect waves-light btn modal-trigger" data-target="modal2"
                th:text="'Товаров: ' + ${products eq null ? '0' : products.size()}">
            <i class="material-icons right">attach_money</i>
        </button>

        <div id="modal2" class="modal">

            <div class="modal-content">

                <h4 class="black-text text-lighten-3 center-align"
                    th:text="'Количество проданных товаров: ' + ${soldedProductsCount eq null ? '0' : soldedProductsCount}"></h4>

                <h4 class="black-text text-lighten-3 center-align"
                    th:text="'Общая стоимость хранимого товара: ' +
                                  ${commonProductsPrice eq null ? '0' : commonProductsPrice} + ' P'"></h4>

                <ul class="collapsible popout" data-collapsible="accordion">

                    <li th:if="not (products eq null)" th:each="product : ${products}">

                        <div class="collapsible-header" th:text="'Название: ' + ${product.title}">
                            <i class="material-icons right">attach_money</i>
                        </div>

                        <div class="collapsible-body">

                            <p th:text="'Цена: ' + ${product.price} + ' Р'">
                            </p>

                            <p th:text="'Описание: ' + ${product.description}">
                            </p>

                            <p th:text="'Ссылка на фото: ' + ${product.photoLink}">
                            </p>

                        </div>

                    </li>

                </ul>

            </div>

            <div class="modal-footer">

                <button class=" modal-action modal-close waves-effect waves-green btn-flat">
                    Закрыть
                </button>

            </div>

        </div>

    </div>

</div>

<div class = "file-field input-field">

        <div class = "btn">
            <span>Загрузите фото:</span>
            <input type="file" id="file" name = "file" />
        </div>

        <div class = "file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Ваше фото"/>
        </div>

        <button id="send_photo" onclick="sendFile(($('#file'))[0]['files'][0])"
                class="btn waves-effect waves-light">
            Отправить фото
            <i class="material-icons right add_a_photo">send</i>
        </button>

</div>

<div class="profile">

    <h5 class="black-text text-lighten-3 center-align">Информация о пользователе: </h5>
    <br/>

    <div class = "col s12 m6 l1">

        <button class="waves-effect waves-light btn modal-trigger" data-target="modal4">Изменить профиль
            <i class = "material-icons right">create</i>
        </button>

        <div id = "modal4" class = "modal">

            <form class = "col s12" th:action="@{/user/profile}" method="POST">

                <div class = "modal-content">

                    <h4 class = "black-text text-lighten-3 center-align">Изменение профиля</h4>

                    <div class = "row">

                        <input type = "hidden" name = "edit_action"/>
                        <input type = "hidden" name = "id" value = "0"/>
                        <input type = "hidden" name = "userId" value = "0"/>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">face</i>
                                <input id="name" type="text" class="validate" name = "personName"/>
                                <label for="name"  class = "active">Имя: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">face</i>
                                <input id="surname" type="text" class="validate" name = "personSurname"/>
                                <label for="surname"  class = "active">Фамилия: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">face</i>
                                <input id="email" type="text" class="validate" name = "email"/>
                                <label for="email"  class = "active">Почта: </label>

                            </div>

                        </div>

                    </div>

                </div>

                <div class = "modal-footer">

                    <button class=" modal-action modal-close waves-effect waves-green btn-flat" type = "submit">
                        Отправить
                    </button>

                </div>

            </form>

        </div>

    </div>

    <ul class="collapsible" data-collapsible="accordion">

        <li>

            <div class="collapsible-header">

                <i class="material-icons">email</i>
                Электронная почта
                <span class="badge" th:text="${profile.email}"></span>

            </div>

        </li>

        <li>

            <div class="collapsible-header">

                <i class="material-icons">face</i>
                Логин
                <span class="badge" th:text="${profile.user.login}"></span>

            </div>

        </li>

        <li>

            <div class="collapsible-header">

                <i class="material-icons">face</i>
                Имя
                <span class="badge" th:text="${profile.name}"></span>

            </div>

        </li>

        <li>

            <div class="collapsible-header">

                <i class="material-icons">face</i>
                Фамилия
                <span class="badge" th:text="${profile.surname}"></span>

            </div>

        </li>

    </ul>


    <h5 class="black-text text-lighten-3 center-align">Адреса пользователя</h5>

    <div class = "col s12 m6 l1">

        <button class="waves-effect waves-light btn modal-trigger" data-target="modal5">Добавить адрес
            <i class = "material-icons right">add</i>
        </button>

        <div id = "modal5" class = "modal">

            <form class = "col s12" th:action="@{/user/profile}" method="POST">

                <div class = "modal-content">

                    <h4 class = "black-text text-lighten-3 center-align">Добавление адреса</h4>

                    <div class = "row">

                        <input type = "hidden" name = "address_action"/>
                        <input type = "hidden" name = "id" value = "0"/>
                        <input type = "hidden" name = "userId" value = "0"/>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">home</i>
                                <input id = "country" type = "text" class = "validate valign-wrapper" name = "country"/>
                                <label for = "country" class = "active">Страна: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">home</i>
                                <input id = "postIndex" type = "text" class = "validate valign-wrapper" name = "postalCode"/>
                                <label for = "postIndex" class = "active">Почтовый индекс: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">home</i>
                                <input id = "city" type = "text" class = "validate valign-wrapper" name = "city"/>
                                <label for = "city" class = "active">Город: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">home</i>
                                <input id = "street" type = "text" class = "validate valign-wrapper" name = "street"/>
                                <label for = "street" class = "active">Улица: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">home</i>
                                <input id = "homeNumber" type = "text" class = "validate valign-wrapper" name = "homeNumber"/>
                                <label for = "homeNumber" class = "active">Номер дома: </label>

                            </div>

                        </div>

                    </div>

                </div>

                <div class = "modal-footer">

                    <button class=" modal-action modal-close waves-effect waves-green btn-flat" type = "submit">
                        Отправить
                    </button>

                </div>

            </form>

        </div>

    </div>

    <ul class="collapsible popout" data-collapsible="accordion">

        <li th:each="address : ${addresses}">

            <div class="collapsible-header" th:text="'Адрес №: ' + ${address.addressId}">
                <i class="material-icons right">home</i>
            </div>

            <div class="collapsible-body">

                <p th:text="'Страна: ' + ${address.country}">
                </p>

                <p th:text="'Почтовый индекс: ' + ${address.postalCode}">
                </p>

                <p th:text="'Город: ' + ${address.city}">
                </p>

                <p th:text="'Улица: ' + ${address.street}">
                </p>

                <p th:text="'Номер дома: ' + ${address.homeNumber}">
                </p>

            </div>

        </li>

    </ul>

</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/modal_init.js}"></script>
<script th:src="@{/js/send_photo.js}"></script>
<script th:src="@{/js/send_form.js}"></script>

</body>

</html>