<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/base_admin_style.css}" media="screen,projection"/>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Товары сервиса</title>

</head>

<body>

    <div th:replace="templates/header-admin :: adminservice-header"></div>

    <div class = "row">

        <div class = "col s12 m6 l4">

            <button class="waves-effect waves-light btn modal-trigger" data-target="modal1">Добавить
                <i class = "material-icons right">add</i>
            </button>

            <div id = "modal1" class = "modal">

                <form class = "col s12" th:action="@{/admin/products}" method="POST" >

                <div class = "modal-content">

                    <h4 class = "black-text text-lighten-3 center-align">Добавить запись</h4>

                    <div class = "row">

                        <input type="hidden" name="form_action" value="add"/>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">label</i>
                                <input id="title" type="text" class="validate" name = "title">
                                <label for="title"  class = "active">Название: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">monetization_on</i>
                                <input id="price" type="text" class="validate" name = "price">
                                <label for="price" class = "active">Цена: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">insert_comment</i>
                                <input id="description" type="text" class="validate" name = "description">
                                <label for="description" class = "active">Описание: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">insert_link</i>
                                <input id="link" type="text" class="validate" name = "photo_link">
                                <label for="link" class = "active">Ссылка на фото: </label>

                            </div>

                        </div>

                    </div>

                </div>

                <div class = "modal-footer">

                    <button class=" modal-action modal-close waves-effect waves-green btn-flat" type = "submit">
                        Отправить
                    </button>

                </div>

                </form>

            </div>

        </div>

        <div class = "col s12 m6 l4">

            <button class="waves-effect waves-light btn modal-trigger" data-target="modal2">Изменить
                <i class = "material-icons right">create</i>
            </button>

            <div id = "modal2" class = "modal">

                <form class = "col s12" th:action="@{/admin/products}" method="POST" >

                <div class = "modal-content">

                    <h4 class = "black-text text-lighten-3 center-align">Изменить запись</h4>

                    <div class = "row">

                        <input type="hidden" name="form_action" value="update"/>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">filter_1</i>
                                <input id="record_id" type="text" class="validate" name = "id">
                                <label for="record_id"  class = "active">ID: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">label</i>
                                <input id="new_title" type="text" class="validate" name = "title">
                                <label for="new_title"  class = "active">Название: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">monetization_on</i>
                                <input id="new_price" type="text" class="validate" name = "price">
                                <label for="new_price" class = "active">Цена: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">insert_comment</i>
                                <input id="new_description" type="text" class="validate" name = "description">
                                <label for="new_description" class = "active">Описание: </label>

                            </div>

                        </div>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">insert_link</i>
                                <input id="new_link" type="text" class="validate" name = "photo_link">
                                <label for="new_link" class = "active">Ссылка на фото: </label>

                            </div>

                        </div>

                    </div>

                </div>

                <div class = "modal-footer">

                    <button class=" modal-action modal-close waves-effect waves-green btn-flat" type = "submit">
                        Отправить
                    </button>

                </div>

                </form>

            </div>

        </div>

        <div class = "col s12 m6 l4">

            <button class="waves-effect waves-light btn modal-trigger" data-target="modal3">Удалить
                <i class = "material-icons right">clear</i>
            </button>

            <div id = "modal3" class = "modal">

                <form class = "col s12" th:action="@{/admin/products}" method="POST">

                <div class = "modal-content">

                    <h4 class = "black-text text-lighten-3 center-align">Удалить запись</h4>

                    <div class = "row">

                        <input type="hidden" name="form_action" value="delete"/>

                        <div class = "row">

                            <div class = "input-field inline col s12">

                                <i class="material-icons prefix">filter_1</i>
                                <input id="delete_record" type="text" class="validate" name = "id">
                                <label for="delete_record"  class = "active">ID: </label>

                            </div>

                        </div>



                    </div>

                </div>

                <div class = "modal-footer">

                    <button class=" modal-action modal-close waves-effect waves-green btn-flat" type = "submit">
                        Отправить
                    </button>

                </div>

                </form>

            </div>

        </div>

    </div>

    <div class = "row">

        <div class = "col s12 m4 l3">
            <button class="btn waves-effect waves-light" onclick="createCookie()">По ID(в обратном порядке)</button>
        </div>

        <div class = "col s12 m4 l3">
            <button class="btn waves-effect waves-light" onclick="deleteCookie()">Несортированный список</button>
        </div>

        <div class = "col s12 m4 l3">
            <button class="btn waves-effect waves-light" value = "1" onclick="changeCookie(this.value)">Сортировать по названию</button>
        </div>

        <div class = "col s12 m4 l3">
            <button class="btn waves-effect waves-light" value = "2" onclick="changeCookie(this.value)">Сортировать по цене</button>
        </div>

    </div>

    <div class = "view-info">

        <div class = "row">

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align">
                    ID
                </h6>
            </div>

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align">
                    Название
                </h6>
            </div>

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align">
                    Цена, <span>&#8381;</span>
                </h6>
            </div>

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align">
                    Описание
                </h6>
            </div>

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align">
                    Ссылка на фото
                </h6>
            </div>

        </div>

        <div class ="row" th:each = "product : ${products}">

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align" th:text="${product.id}"></h6>
            </div>

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align" th:text="${product.title}"></h6>
            </div>

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align" th:text="${product.price}"></h6>
            </div>

            <div class = "col s1 m2 l2">
                <h6 class = "black-text text-lighten-3 center-align" th:text="${product.description}"></h6>
            </div>

            <div class = "col s1 m2 l2">
                 <h6 class = "black-text text-lighten-3 center-align truncate" th:text = "${product.photo_link}"></h6>
            </div>

        </div>

    </div>

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/materialize.min.js}"></script>
    <script th:src="@{/js/modal_init.js}"></script>
    <script th:src="@{/js/cookie_work.js}"></script>
</body>

</html>